<%- include('../temple/head.ejs'); %>
<link rel="stylesheet" href="public/js/dropload/dropload.css">
<link rel="stylesheet" href="public/css/top.css">
<body style="width: 100vw;height: 100vh;">
<%- include('../iframe_open.ejs'); %>

<script type="text/javascript">
	window.parent.postMessage("loadfinish", '*');
</script>

<%- include('seller_header.ejs',{topsell: topsell}) %>

<div id="list">
    <div data-mxview="atb_like">
        <div class="" style="padding-top: 8px;">
            <div class="waterfall" id="like-list-con">
                <div class="waterfall-list">
                </div>
            </div>
        </div>
    </div>

</div>



<script src="public/js/dropload/dropload.min.js?time=20181212"></script>
<script>
	var page = 1;
	var dropload = null;
	var current_topid = getParam("topid");

	$(function () {

		window.changeSelect = function(topid) {
			page = 1;
			current_topid = topid;
			$('.waterfall-list').html('');
			dropload.noData(false);
			dropload.unlock();
			dropload.resetload();
		}

		function loaddata(topid, dropload) {
			$.ajax({
				type: 'POST',
				url: '/t_page',
				data: {topid: topid, page: page},
				dataType: 'html',
				success: function (data) {
					model(data, dropload, "down");
				},
				error: function (xhr, type) {
					// 即使加载出错，也得重置
					dropload.resetload();
				}
			});
		}

		// dropload
		dropload = $('body').dropload({
			scrollArea: window,
			domUp: {
				domClass: 'dropload-up',
				domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
				domUpdate: '<div class="dropload-update">↑释放更新</div>',
				domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
			},
			domDown: {
				domClass: 'dropload-down',
				domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData: '<div class="dropload-noData">数据已经加载完毕</div>'
			},
			loadDownFn: function (me) {
				loaddata(current_topid,me);
			},
		});

		function model(data, me, m) {

			var oldlen = $('.waterfall-list .waterfall-item').length;
			try {
				if (page === 1) {
					$('.waterfall-list').html(data);
				} else {
					$('.waterfall-list').append(data);
				}
			} catch (e) {
			}
			$('img.lazy').lazyload({
				container: $("#like-list-con")
			});
			var len = $('.waterfall-list .waterfall-item').length;

			page++;
			// 每次数据加载完，必须重置
			if (len-oldlen < 20) {
				me.lock();
				me.noData();
			}

			me.resetload();
		}

		$(document).scroll(function() {
			var scroH = $(document).scrollTop();  //滚动高度

			if(scroH >= 180){  //距离顶部大于可见宽度
				$('.toolbar').addClass('nv')
			}else {
				$('.toolbar').removeClass('nv')
			}

		});
	});
</script>

<%- include('../iframe_close.ejs'); %>
</body>
<%- include('../temple/foot.ejs'); %>