<% items.forEach(function(item){ %>
<div class="waterfall-item">
    <a href="javascript:;" onclick="open_url(event,'/detail?itemid=<%= item.item_id %>')">
        <div>
            <img class="img lazy"
                 data-original="<%= item.pict_url %>"
                 src="public/image/loading.gif">
        </div>
        <div class="info">
            <h3 class="title"><%= item.title %></h3>
            <% if(item.item_description) { %>
            <h3 class="title" style="color: #f47920; border: 1px solid #ff5000;padding: 3px;margin: 7px;">
                <%=item.item_description %>
            </h3>
            <% } %>
            <div class="priceInfo" style="padding-bottom: 8px;">
                <div class="coupon-icon">
                    <span class="coupon-icon-left">券</span>
                    <span class="coupon-icon-right"><%=item.coupon_amount%>元</span>
                </div>

                <div style="padding: 0 8px;">
                    <span class="yen">¥</span><span class="price"><%=(parseFloat(item.zk_final_price) - parseFloat(item.coupon_amount)).toFixed(2) %></span>
                    <span class="yen line-through" style="margin-left: 2px;">¥</span><span
                            class="price line-through extra-price"><%=(parseFloat(item.zk_final_price)).toFixed(2)%></span>
                </div>
            </div>
        </div>
    </a>
</div>
<% }); %>
