<% items.forEach(function(item){ %>
<div class="waterfall-item">
    <a href="javascript:;" onclick="open_url('/detail?itemid=<%= item.item_id %>')">
        <div>
            <img class="img lazy"
                 data-original="<%= item.pict_url %>"
                 src="public/image/loading.gif">
        </div>
        <div class="info">
            <h3 class="title"><%= item.title %></h3>
            <% if(item.item_description) { %>
            <h3 class="title" style="color: #f47920; border: 1px solid #ff5000;padding: 3px;margin: 7px;">
                <%=item.item_description %>
            </h3>
            <% } %>
            <div class="priceInfo" style="padding-bottom: 8px;">
                <div class="coupon-icon">
                    <span class="coupon-icon-left">券</span>
                    <span class="coupon-icon-right"><%=item.coupon_amount%>元</span>
                </div>

                <span class="yen">¥</span><span class="price"><%= item.zk_final_price %></span>
                <span class="yen line-through" style="margin-left: 2px;">¥</span><span
                        class="price line-through extra-price"><%= (parseInt(item.zk_final_price) + parseInt(item.coupon_amount)) %></span>
            </div>
        </div>
    </a>
</div>
<% }); %>
<script>
	$(function () {
		$('img.lazy').lazyload({
			container: $("#like-list-con")
		});
	})
</script>
