<%- include('temple/head.ejs'); %>
<link rel="stylesheet" href="public/js/swiper/css/swiper.min.css">
<link rel="stylesheet" href="public/css/detail.css">
<script src="public/js/clipboard/clipboard.min.js"></script>


<body style="width: 100vw;height: 100vh; position: relative;">

<script type="text/javascript">
	window.parent.postMessage("loadfinish",'*');
</script>

<div class="app" style="margin-bottom: 56px;">
    <header class="toolbar sticky">
        <div class="toolbar__btn-wrapper clearfix">
            <div class="toolbar__btn toolbar__back">
                <a href="javascript:;" onClick="closePage()">
                    <i class="iconfont icon-back_light"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="carousel" id="carousel">
        <div class="swiper-wrapper" style="min-width: 100vw;min-height: 100vw;">

            <% if (pictUrl) { %>
                <div data-index="0" class="swiper-slide">
                    <img alt=""
                         data-ks-lazyload='<%=pictUrl%>'
                         src="public/image/loading.gif"
                         class="mui-lazy slick-image lazy"></div>
            <% } %>

            <% smallimg.forEach(function(itemimg){ %>
            <div data-index="0" class="swiper-slide">
                <img alt=""
                     src="<%=itemimg.url%>"
                     class="mui-lazy slick-image lazy"></div>
            <% }); %>
        </div>
        <div class="dots"></div>
    </div>

    <div class="info">
        <div class="base">
            <div class="prices-wrapper">
                <div class="prices">
                    <div class="price-title"></div>
                    <div class="price"><%=((zkFinalPrice)/100.0 - couponAmount).toFixed(2) %></div>
                    <span class="price-tag text"><%=locals.couponInfo%></span>
                </div>
                <div class="extra-price"><p>价格<span class="price-span line-through">￥<%=((zkFinalPrice)/100.0).toFixed(2)%></span></p></div>
                <div class="price-intl"></div>
                <div class="price-tip"></div>
            </div>
            <%- include('temple/detail_short_copy.ejs', {short_url: short_url}); %>
            <div class="title-wrapper"><h2 class="title"><%=title%></h2></div>
            <div class="delivery-box">
                <span class="delivery-price"><% if (provcity) {%> 货源地：<%=provcity%><% } %></span>
                <span class="month-sold">月销量：<%=volume%></span>
            </div>
        </div>
    </div>

    <% if (typeof content !== 'undefined'){ %>
    <div class="tshop-psm" style="background-color: white">
        <div class="desc-title">
            <i class="icon iconfont desc-title-icon icon-piclight" aria-hidden="true"></i>
            商品详情
        </div>
        <%-content%>
    </div>
    <% }%>


</div>

<div class="bar" style="box-shadow: 0px 1px 10px #dadada;">
    <div class="bar-btn-wrapper">
        <a id="totb" class="bar-btn bar-buynow" href="javascript:;" onclick="open_taobao('#totb','<%=couponClickUrl%>')">淘宝领劵</a>
    </div>
</div>

<style>
    img {
        background: url("public/image/loading.gif")50% 50%/cover no-repeat;
    }
</style>
<script src="public/js/swiper/js/swiper.js"></script>
<script>

	$(function () {
		var swiper = new Swiper('#carousel', {
			pagination: {
				el: '.dots',
				type: 'fraction',
			},
			direction : 'horizontal',
		})

		var viewW = $(window).width();
		$(document).scroll(function() {
			var scroH = $(document).scrollTop();  //滚动高度

			if(scroH >= (viewW*0.8)){  //距离顶部大于可见宽度
				$('.toolbar').addClass('nv')
			}else {
				$('.toolbar').removeClass('nv')
			}

		});
	})
</script>
<%- include('iframe_close.ejs'); %>
<style>
    .J_DetailSection{
        background-color: white;
    }
</style>
</body>
<%- include('temple/foot.ejs'); %>