<%- include('../temple/head.ejs'); %>
<link rel="stylesheet" href="public/css/search.css">
<link rel="stylesheet" href="public/js/dropload/dropload.css">

<body>
<%- include('../iframe_open.ejs'); %>
<div id="list">

    <%- include('../temple/search-head.ejs');%>

    <%- include('model_sort.ejs'); %>
    <%- include('model_list.ejs',{ total: total }); %>

</div>
</body>
<%- include('../temple/foot.ejs'); %>