<%- include('../temple/head.ejs'); %>
<link rel="stylesheet" href="public/css/search.css">
<link rel="stylesheet" href="public/js/dropload/dropload.css">

<body style="width: 100vw;height: 100vh;">
<%- include('../iframe_open.ejs'); %>

<script type="text/javascript">
	window.parent.postMessage("loadfinish",'*');
</script>

<div id="list">

    <%- include('../temple/search-head.ejs');%>

    <%- include('model_sort.ejs'); %>
    <%- include('model_list.ejs'); %>

    <%- include('model_plan.ejs'); %>

</div>
<script>
    $(function () {
	    $("#search-input").focus(function(){
	    	$('.list-sort').hide();
		    $('.list-content').hide();
		    $('#hot').show();
	    });
    })
</script>
<%- include('../iframe_close.ejs'); %>
</body>
<%- include('../temple/foot.ejs'); %>