<%- include('../temple/head.ejs'); %>
<link rel="stylesheet" href="public/css/search.css">
<link rel="stylesheet" href="public/js/dropload/dropload.css">

<body>
<%- include('../iframe_open.ejs'); %>

<div id="list">

    <header class="search-head">
        <div class="search-content">
            <a href="javascript:;" class="btn" onClick="closePage()">
                <i class="iconfont icon-back_light"></i>
            </a>
            <i class="iconfont icon-search search-icon"></i>
            <input class="search-input" type="text" value="asdasd">
            <a href="javascript:;" class="btn" onClick="">
                搜索
            </a>
        </div>
    </header>

    <%- include('model_sort.ejs'); %>
    <%- include('model_list.ejs',{ total: total }); %>

</div>
</body>
<%- include('../temple/foot.ejs'); %>