<%- include('../temple/head.ejs'); %>
<link rel="stylesheet" href="public/css/search.css">
<body>
<%- include('../iframe_open.ejs'); %>
<script type="text/javascript">
	window.parent.postMessage("loadfinish",'*');
</script>
<div>

    <%- include('../temple/search-head.ejs');%>

    <%- include('model_plan.ejs'); %>

</div>

<script type="text/javascript">
	$(function () {
        $('#search-input').focus();
		$('#hot').show();
	})
</script>
<%- include('../iframe_close.ejs'); %>
</body>
<%- include('../temple/foot.ejs'); %>